/* Spider Lines Animation for Hero */

.hero {
    position: relative;
    overflow: hidden;
}

.spider-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.spider-line {
    position: absolute;
    background: linear-gradient(90deg, transparent, rgba(255, 204, 0, 0.4), transparent);
    height: 1px;
    width: 0;
    animation: spiderMove 4s linear infinite;
}

.spider-line:nth-child(1) {
    top: 20%;
    left: 0;
    animation-delay: 0s;
}

.spider-line:nth-child(2) {
    top: 40%;
    right: 0;
    animation-delay: 1s;
    animation-direction: reverse;
}

.spider-line:nth-child(3) {
    top: 60%;
    left: 0;
    animation-delay: 2s;
}

.spider-line:nth-child(4) {
    top: 80%;
    right: 0;
    animation-delay: 3s;
    animation-direction: reverse;
}

.spider-line-vertical {
    position: absolute;
    background: linear-gradient(180deg, transparent, rgba(255, 204, 0, 0.4), transparent);
    width: 1px;
    height: 0;
    animation: spiderMoveVertical 4s linear infinite;
}

.spider-line-vertical:nth-child(5) {
    left: 20%;
    top: 0;
    animation-delay: 0.5s;
}

.spider-line-vertical:nth-child(6) {
    left: 50%;
    bottom: 0;
    animation-delay: 1.5s;
    animation-direction: reverse;
}

.spider-line-vertical:nth-child(7) {
    left: 80%;
    top: 0;
    animation-delay: 2.5s;
}

@keyframes spiderMove {
    0% {
        width: 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes spiderMoveVertical {
    0% {
        height: 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 0;
    }
}